<div *ngIf="produtoInfo" class="altura">
  <div class="float-right btn btn-outline-dark mt-3 mr-3" (click)="addRef()">Generar referencia</div>
  <h1 class="titulo">{{produtoInfo.nome}}</h1>
  <p>{{produtoInfo.descricion}}</p>
</div>
<div class="overflow-y">
<table *ngIf="reflines.length != 0" class="table">
  <thead>
    <th scope="col">Referencia</th>
    <th scope="col">Estado</th>
    <th scope="col">Última actualización</th>
  </thead>
  <tbody>
  <tr (click)="handleClick(r.ref)" *ngFor="let r of reflines" class="refline" [class.selected]="selectedRef == r.ref">
    <th scope="row">{{r.ref}}</th>
    <td>
        <span class="progress">
          <span aria-valuemin="0" attr.aria-valuemax="{{r.totalTrazas}}"
                attr.aria-valuenow="{{r.trazado}}" [className]="r.trazado == r.totalTrazas ? 'progress-bar progress-bar-striped bg-success' : 'progress-bar progress-bar-striped bg-primary'"
                role="progressbar" style="width: {{r.trazado/r.totalTrazas | percent:'1.0-1'}}">
            {{r.trazado}}/{{r.totalTrazas}}
          </span>
        </span>
    </td>
    <td class="pl-3">{{r.ultimaAct | date:'short':'+0100'}}</td>
  </tr>
  </tbody>
</table>
</div>
