.sidebar {
  overflow: hidden;
  padding: 0px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
}

.sidebar > img {
  padding: 10px;
  max-width: 100%;
}

.links {
  margin-top: 40px;
  color: #9c9c9c;
}

.link {
  line-height: 40px;
  font-size: 18px;
  cursor: pointer;
  padding-left: 15px;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.link:hover {
  color: #4b4b4b;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.selected {
  color: #780b2a !important;
}

.link > fa-icon {
  display: inline-block;
  width: 30px;
}

.link > span {
  margin-left: 5px;
}

.separator {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding-left: 25px;
}

.mw-sidebar {
  max-width: 200px;
  padding-left: 10px;
}
