<div class="h-100 d-flex align-items-center">
  <div class="h-75 mx-auto mw-60">
    <div class="neumorphism mb-5" style="height: 100px;">
      <div class="row head">
        <div class="col head-part selected">
          <fa-icon [icon]="faPlus"></fa-icon>
          Novo produto
        </div>
        <div class="col head-part text-center">
          <fa-icon [icon]="faSeeding"></fa-icon>
          Ingredentes
        </div>
        <div class="col head-part text-right">
          <fa-icon [icon]="faBreadSlice"></fa-icon>
          Preparación
        </div>
      </div>
    </div>
    <div class="neumorphism h-75 create">
      <form class="form-create">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input class="form-control" id="nome" placeholder="Nome produto" type="text">
          <small class="form-text text-muted">Utiliza un nome corto e que mellor identifique o produto.</small>
        </div>
        <div class="form-group desc">
          <label for="descricion">Descrición</label>
          <textarea class="form-control" id="descricion" placeholder="Descrición do produto a engadir."
                    type="text"></textarea>
          <small class="form-text text-muted">Describe brevemente o produto, ten en conta que nos seguintes pasos
            engadirás ós ingredentes e a preparación.</small>
        </div>
      </form>
      <div class="row buttoms">
        <div class="col">
          <div [class.buttom-disable]="!botonesActivos[0]" class="buttom back-buttom text-center" (click)="handleAnterior(botonesActivos[0])">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Anterior
          </div>
        </div>
        <div class="col">
          <div [class.buttom-disable]="!botonesActivos[1]" class="buttom more-buttom text-center" (click)="handleMais(botonesActivos[0])">Engadir máis</div>
        </div>
        <div class="col">
          <div [class.buttom-disable]="!botonesActivos[2]" class="buttom next-buttom text-center" (click)="handleSeguinte(botonesActivos[0])">{{textoSeguinte}}
            <fa-icon [icon]="faChevronRight"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
