<div class="h-100 d-flex align-items-center">
  <div class="h-75 mx-auto mw-60">
    <div class="neumorphism mb-5" style="height: 100px;">
      <div class="row head">
        <div [class.selected]="step === 0" class="col head-part text-center">
          <fa-icon [icon]="faPlus"></fa-icon>
          Novo produto
        </div>
        <div [class.selected]="step === 1" class="col head-part text-center">
          <fa-icon [icon]="faSeeding"></fa-icon>
          Ingredentes
        </div>
        <div [class.selected]="step === 2" class="col head-part text-center">
          <fa-icon [icon]="faBreadSlice"></fa-icon>
          Preparación
        </div>
        <div [class.selected]="step === 3" class="col head-part text-center">
          <fa-icon [icon]="faDolly"></fa-icon>
          Traza
        </div>
      </div>
    </div>
    <div class="neumorphism h-75 create">
      <div class="formulario">
        <fa-icon (click)="handleEliminar()"
                 *ngIf="step > 0 && ((step == 1 && ingredentes.length != 1) || (step == 2 && preparacions.length != 1) || (step == 3 && trazas.length != 1))"
                 [icon]="faTrash"></fa-icon>
        <form *ngIf="showform == 0" class="form-create">
          <div class="form-group">
            <label for="nomeproduto">Nome</label>
            <input [(ngModel)]='produto.nome' class="form-control" id="nomeproduto" name="pnome"
                   placeholder="Nome produto" type="text">
            <small class="form-text text-muted">Utiliza un nome corto e que mellor identifique o produto.</small>
          </div>
          <div class="form-group desc">
            <label for="descricionproduto">Descrición</label>
            <textarea [(ngModel)]='produto.descricion' class="form-control" id="descricionproduto"
                      name="pdescr"
                      placeholder="Descrición do produto a engadir." type="text"></textarea>
            <small class="form-text text-muted">Describe brevemente o produto, ten en conta que nos seguintes pasos
              engadirás ós ingredentes e a preparación.</small>
          </div>
        </form>
        <form *ngIf="showform == 1" class="form-create">
          <div class="form-group">
            <label for="inome">Ingredente {{ningredente + 1}}/{{ingredentes.length}} </label>
            <input [(ngModel)]='ingredentes[ningredente].nome' class="form-control" id="inome" name="iname"
                   placeholder="Fariña de millo" type="text">
            <small class="form-text text-muted">Utiliza un nome corto e que mellor identifique o ingredente.</small>
          </div>
          <div class="form-group desc ingr">
            <div class="cantidade">
              <label for="icantidade">Cantidade</label>
              <input [(ngModel)]='ingredentes[ningredente].cantidade' class="form-control" id="icantidade" min="0"
                     name="icant"
                     placeholder="Cantidade do produto." type="number">
              <small class="form-text text-muted">Cantidade do ingredente en unidades. Só acepta números.</small>
            </div>
            <div class="unidades">
              <label for="iunidade">Unidade</label>
              <input [(ngModel)]='ingredentes[ningredente].unidade' class="form-control" id="iunidade"
                     name="iunidade"
                     placeholder="g" type="text">
              <small class="form-text text-muted">Por exemplo: g, ml, kg</small>
            </div>
          </div>
        </form>
        <form *ngIf="showform == 2" class="form-create">
          <div class="form-group">
            <label for="prep">Preparación {{npreparacion + 1}}/{{preparacions.length}}</label>
            <textarea [(ngModel)]='preparacions[npreparacion].texto' class="form-control" id="prep"
                      name="pdescr" placeholder="Describe brevemente os pasos da preparación."
                      rows="6" type="text"></textarea>
            <small class="form-text text-muted">Trata de facelo o máis sinxelo e curto que poidas.</small>
          </div>
        </form>
        <form *ngIf="showform == 3" class="form-create">
          <div class="form-group">
            <label for="traza">Traza {{ntraza + 1}}/{{trazas.length}}</label>
            <input [(ngModel)]='trazas[ntraza].nome' class="form-control" id="traza"
                   name="traza" placeholder="Describe brevemente os pasos da preparación." type="text">
            <small class="form-text text-muted">Nomea todos os puntos nos que queres rexistrar a traza.</small>
          </div>
        </form>
      </div>
      <div class="row buttoms">
        <div class="col">
          <div (click)="handleAnterior(botonesActivos[0])" [class.buttom-disable]="!botonesActivos[0]"
               class="buttom back-buttom text-center">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Anterior
          </div>
        </div>
        <div class="col">
          <div (click)="handleMais(botonesActivos[1])" [class.buttom-disable]="!botonesActivos[1]"
               class="buttom more-buttom text-center">Engadir máis
          </div>
        </div>
        <div class="col">
          <div (click)="handleSeguinte(botonesActivos[2])" [class.buttom-disable]="!botonesActivos[2]"
               class="buttom next-buttom text-center glow-button">{{textoSeguinte}}
            <fa-icon [icon]="faChevronRight"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
